<app-header (messageEvent)="receiveRefresh($event)"></app-header>
<app-navbar [title] = "'Cars'"></app-navbar>
<section class="model-area section-gap" id="cars">
	<div class="container">
		<div class="row d-flex justify-content-center pb-40">
			<div class="col-md-8 pb-40 header-text">
				<h1 class="text-center pb-10">Choose your desired car model</h1>
				<p class="text-center">
					Hurry up before someone book your car right in front of your nose.
				</p>
			</div>
		</div>
		<form class="form" role="form" autocomplete="off">		
			<div class="form-group">
				<div>
					<p style="color:black">Types:</p>
					<select size="3" style="width:10em" name="typeNameSel" [(ngModel)] ="typeNameSelected">
						<option *ngFor = "let type of types" [value]="type.Name">{{type.Name}}</option>
					</select>
				</div>
			</div>
		</form>
			<app-car-unit *ngFor = "let car of cars" [car] = 'car' (messageEvent)="receiveMessage($event)" ></app-car-unit>
	</div>	
</section>
