					<div class="section-top-border">
						<h3 class="mb-30">Client managing</h3>
						<div class="progress-table-wrap">
							<div class="progress-table">
								<div class="table-head">
									<div class="visit">Username</div>
									<div class="visit">Name</div>
									<div class="visit">Surname</div>
									<div class="visit">Birth</div>
									<div class="visit">Document</div>
									<div class="visit">Approvals</div>
									<div class="visit">Role</div>
									<div class="visit">Action</div>
									<div class="visit">Service</div>
								</div>
								<div class="table-row">
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit"><a class="genric-btn primary">View</a></div>
									<div class="visit"><a class="genric-btn primary">Approve</a></div>
									<div class="visit">Unverified</div>
									<div class="visit"><a class="genric-btn primary" disabled>/</a></div>
									<div class="visit"></div>
								</div>
								<div class="table-row">
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit"><a class="genric-btn primary">View</a></div>
									<div class="visit">Approved</div>
									<div class="visit">Manager</div>
									<div class="visit"><a class="genric-btn primary">Client</a></div>
									<div class="visit">
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch" checked>
											<label for="confirm-switch"></label>
										</div>
									</div>
								</div>
								<div class="table-row">
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit"><a class="genric-btn primary">View</a></div>
									<div class="visit">Approved</div>
									<div class="visit">Client</div>
									<div class="visit"><a class="genric-btn primary">Manager</a></div>
									<div class="visit"></div>
								</div>
							</div>
						</div>
					</div>
