					<div class="section-top-border">
						<h3 class="mb-30">Service approvals</h3>
						<div class="progress-table-wrap">
							<div class="progress-table">
								<div class="table-head">
									<div class="country">Services</div>
									<div class="visit">Authors</div>
									<div class="visit">Descriptions</div>
									<div class="visit">Emails</div>
									<div class="visit">Approved</div>
								</div>
								<div class="table-row">
									<div class="country"> <img src="assets/img/elements/f1.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit"><a class="genric-btn primary">Approve</a></div>
								</div>
								<div class="table-row">
									<div class="country"> <img src="assets/img/elements/f2.jpg" alt="flag">Canada</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">645032</div>
									<div class="visit">Approved</div>
								</div>
							</div>
						</div>
					</div>
