					<div class="section-top-border">
						<h3 class="mb-30">Service approvals</h3>
						<div class="progress-table-wrap">
							<div class="progress-table">
								<div class="table-head">
									<div class="country">Services</div>
									<div class="visit">Name</div>
									<div class="visit">Descriptions</div>
									<div class="visit">Emails</div>
									<div class="visit">Approved</div>
								</div>
								<div class="table-row" *ngFor = "let service of services">
									<div class="country"> <img src="assets/img/elements/f2.jpg" alt="flag">Canada</div>
									<div class="visit">{{service.Name}}</div>
									<div class="visit">{{service.Description}}</div>
									<div class="visit">{{service.Email}}</div>
									<div class="visit" *ngIf = "service.Approved">Approved</div>
									<div class="visit"><a class="genric-btn primary"  *ngIf = "!service.Approved" (click) = "verifyService(service.Id)">Approve</a></div>
								</div>
							</div>
						</div>
					</div>
