<app-header #header></app-header>
<app-navbar  [title] = "'Team'"></app-navbar>
<!-- Start team Area -->
<section class="team-area section-gap team-page-teams" id="team">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Our Development and Support Team</h1>
					<p>Feel free to contact them in any time day or night.</p>
				</div>
			</div>
		</div>						
		<div class="row justify-content-center d-flex align-items-center">
			<div class="col-md-3 single-team">
				<div class="thumb">
					<img class="img-fluid" src="assets/img/pages/tijana.png" alt="">
					<div class="align-items-center justify-content-center d-flex">
						<a href="https://www.facebook.com/tijana.vdn" target="blank"><i class="fa fa-facebook"></i></a>
						<a href="https://www.linkedin.com/in/tijana-lalo%C5%A1evi%C4%87-b3974215a/" target="blank"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="meta-text mt-30 text-center">
					<h4>Tijana Lalosevic</h4>
					<p>Marketing and sales manager</p>									    	
				</div>
			</div>
			<div class="col-md-3 single-team">
				<div class="thumb">
					<img class="img-fluid" src="assets/img/pages/marko.png" alt="">
					<div class="align-items-center justify-content-center d-flex">
						<a href="https://www.facebook.com/vidic1595" target="blank"><i class="fa fa-facebook"></i></a>
						<a href="https://www.linkedin.com/in/marko-tagliavia-011658159/" target="blank"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="meta-text mt-30 text-center">
					<h4>Marko Tagliavia</h4>
					<p>Full stack developer</p>			    	
				</div>
			</div>								
		</div>
	</div>	
</section>
<!-- End team Area -->	