<header id="header" id="home" style="background-color:black">
<div class="container">
	<div class="row align-items-center justify-content-between d-flex">
	  <div id="logo">
		<a href="#"><img src="assets/img/rsz_1logo2.png" alt="" title="" /></a>
	  </div>
	  <nav id="nav-menu-container">
		<ul class="nav-menu">
		  <li class="menu-active"><a href="index.html">Home</a></li>
		  <li><a href="cars.html">Cars</a></li>
		  <li><a href="service.html">Services</a></li>
		  <li><a href="blog-home.html">Account</a></li>	
		  <li><a href="team.html">Team</a></li>	
		  <li><a href="contact.html">Contact</a></li>
		  <li><a href="contact.html">Log in/out</a></li>		  
		</ul>
	  </nav><!-- #nav-menu-container -->		    		
	</div>
</div>
</header><!-- #header -->
