textarea.ng-untouched.ng-pristine.ng-valid{
    width:30em;
}

textarea.ng-pristine.ng-valid.ng-touched{
    width:30em;
}

textarea{
    width:30em;
}

.managerOnly{
    background-color: darkseagreen;
}