<app-header (messageEvent)="receiveRefresh($event)"></app-header>
<app-navbar [title] = 'service.Name'></app-navbar>
<div class="managerOnly" *ngIf="manager">
<section class="model-area section-gap" >
	<div class="container" style="width:40em">
    <div class="row d-flex justify-content-center pb-40">
      <div class="col-md-8 pb-40 header-text">
        <h3 class="text-center pb-10">Branch control</h3>
      </div>
    </div>
      <app-branch-control *ngIf = "smeDaIzmeni" [service] = 'service'></app-branch-control>
  </div>
  </section>
</div>

  <section class="model-area section-gap" >
    <div class="container" style="width:50em">
      <div class="row d-flex justify-content-center pb-40">
          <div class="col-md-8 pb-40 header-text">
            <h1 class="text-center pb-10">Choose your desired car model</h1>
            <p class="text-center">
              Hurry up before someone book your car right in front of your nose.
            </p>
          </div>
      </div>

      <div class="row d-flex justify-content-center">
            <p style="color:black">Types:</p>
            <select size="1" style="width:10em" name="typeNameSel" [(ngModel)] ="typeNameSelected">
              <option *ngFor = "let type of types" [value]="type.Name">{{type.Name}}</option>
            </select>
          <app-car-unit *ngFor = "let carUnit of cars" [car] = "carUnit"></app-car-unit>
      </div>
          <hr>
          <br>

              <app-rate-unit *ngFor = "let rate of rates" [rate] = 'rate'></app-rate-unit>
              <br>
              <hr>
              <br>
          <div class="row d-flex justify-content-center">
            <div class="single-review">  
              <div class="star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <br>
              <textarea name="commField" [(ngModel)] = 'komentar'></textarea>
              <br>
              <a class="genric-btn primary btn-block text-center text-uppercase" *ngIf= "smeDaOceni"  (click) = 'oceni()' >Add rate</a>  
            </div>
          </div>
            
            
    </div>
  </section>

  <div class="managerOnly" *ngIf="manager">
  <section class="model-area section-gap" >
      <div class="container" style="width:40em">
					<div class="row d-flex justify-content-center">
              <a class="genric-btn success btn-block text-center text-uppercase" *ngIf= "smeDaIzmeni" [routerLink]="['../../cars/new/', service.Id]">Add new Car</a>
              <br>
              <a class="genric-btn success btn-block text-center text-uppercase" *ngIf= "smeDaIzmeni" [routerLink]="['../../services/edit/', service.Id]">Edit Service</a>
              <br>
              <a class="genric-btn danger btn-block text-center text-uppercase" *ngIf= "smeDaIzmeni"  (click) = 'delete()' >Delete Service</a>
              
          </div>
    </div>
  </section>
  </div>
