<app-header (messageEvent)="receiveRefresh($event)"></app-header>
<app-navbar [title] = 'service.Name'></app-navbar>
<div class="managerOnly" *ngIf="manager">
<section class="model-area section-gap" >
	<div class="container">
    <div class="row d-flex justify-content-center pb-40">
      <div class="col-md-8 pb-40 header-text">
        <h3 class="text-center pb-10">Branch control</h3>
      </div>
    </div>
      <app-branch-control *ngIf = "smeDaIzmeni" [service] = 'service' (messageEvent)="receiveMessageBranches($event)"></app-branch-control>
  </div>
  </section>
</div>

<section class="model-area section-gap" >
	<div class="container">
    <div class="row d-flex justify-content-center pb-40">
<agm-map [latitude]=45.25024259251935  [longitude]=19.835199103219566 [zoom] = "11" (mapClick)="mapClicked($event)">
  <agm-marker *ngFor="let koordinata of koordinates" [latitude]="koordinata.Latitude" [longitude]="koordinata.Longitude">
      <agm-info-window>{{koordinata.info}}</agm-info-window>
  </agm-marker>
</agm-map>
<div class="row d-flex justify-content-center pb-40">
  <img *ngFor="let koordinataa of koordinates" [src]="koordinataa.slika">
</div>
</div>
</div>
</section>

  <section class="model-area section-gap" >
    <div class="container" style="width:50em">
      <div class="row d-flex justify-content-center pb-40">
          <div class="col-md-8 pb-40 header-text">
            <h1 class="text-center pb-10">Choose your desired car model</h1>
            <p class="text-center">
              Hurry up before someone book your car right in front of your nose.
            </p>
          </div>
      </div>

      <form class="form" role="form" autocomplete="off">		
          <div class="form-group">
            <div class="row d-flex justify-content-center pb-40">
              <div>
                <p style="color:black">Types:</p>
                <select style="width:10em" name="typeNameSel" [(ngModel)] ="typeNameSelected" (change) = 'doPaginacija(1)'>
                  <option>All</option>
                  <option *ngFor = "let type of types" [value]="type.Name">{{type.Name}}</option>
                </select>
              </div>
    
              <div>
                  <p style="color:black">Manufacturer:</p>
                  <input class="form-control txt-field" type="text" name="manuName" placeholder="Manufacturer" [(ngModel)]="manuNameInput" (change) = 'doPaginacija(1)'>
              </div>
    
              <div>
                  <p style="color:black">Model:</p>
                  <input class="form-control txt-field" type="text" name="modelName" placeholder="Model" [(ngModel)]="modelNameInput" (change) = 'doPaginacija(1)'>
              </div>
    
              <div>
                  <p style="color:black">Year:</p>
                  <input class="form-control txt-field" type="text" name="year" placeholder="Year" [(ngModel)]="yearInput" (change) = 'doPaginacija(1)'>
              </div>
    
              <div>
                  <p style="color:black">Price:</p>
                  <input class="form-control txt-field" type="number" name="fromPrice" placeholder="From" [(ngModel)]="fromPriceInput" (change) = 'doPaginacija(1)'>
                  to
                  <input class="form-control txt-field" type="number" name="toPrice" placeholder="To" [(ngModel)]="toPriceInput" (change) = 'doPaginacija(1)'>
              </div>
            </div>
  
          </div>
        </form>
        <app-car-unit *ngFor = "let car of carsForPrikaz" [car] = 'car' (messageEvent)="receiveMessage($event)" ></app-car-unit>
        <div class="row d-flex justify-content-center pb-40" >
            <div style="padding-left:1em"><a class="genric-btn primary text-center" *ngFor="let number of pageNumbers" (click)="doPaginacija(number)" >{{number}}</a></div>
        </div>
          <hr>
          <br>

          <app-rate-unit *ngFor = "let rate of rates" [rate] = 'rate' (messageEvent)="receiveDelete($event)"></app-rate-unit>
          <br>
          <hr>
          <br>
      <div class="row d-flex justify-content-center" *ngIf= "smeDaOceni" >
        <div class="single-review">  
          <div class="star">
            <span class="fa fa-star checked" *ngIf = "rate.Point >= 1" (click)='ocena(1)'></span>
            <span class="fa fa-star" *ngIf = "rate.Point < 1" (click)='ocena(1)'></span>
            <span class="fa fa-star checked" *ngIf = "rate.Point >= 2" (click)='ocena(2)'></span>
            <span class="fa fa-star" *ngIf = "rate.Point < 2" (click)='ocena(2)'></span>
            <span class="fa fa-star checked" *ngIf = "rate.Point >= 3" (click)='ocena(3)'></span>
            <span class="fa fa-star" *ngIf = "rate.Point < 3" (click)='ocena(3)'></span>
            <span class="fa fa-star checked" *ngIf = "rate.Point >= 4" (click)='ocena(4)'></span>
            <span class="fa fa-star" *ngIf = "rate.Point < 4" (click)='ocena(4)'></span>
            <span class="fa fa-star checked" *ngIf = "rate.Point >= 5" (click)='ocena(5)'></span>
            <span class="fa fa-star" *ngIf = "rate.Point < 5" (click)='ocena(5)'></span>
          </div>
          <textarea [(ngModel)]="rate.Comment"></textarea>
          <br>
          <a class="genric-btn primary btn-block text-center text-uppercase" (click) = 'oceni()' >Add rate</a>  
        </div>
      </div>
            
            
    </div>
  </section>

  <div class="managerOnly" *ngIf="manager">
  <section class="model-area section-gap" >
      <div class="container" style="width:40em">
					<div class="row d-flex justify-content-center">
              <a class="genric-btn success btn-block text-center text-uppercase" *ngIf= "smeDaIzmeni" [routerLink]="['../../cars/new/', service.Id]">Add new Car</a>
              <br>
              <a class="genric-btn success btn-block text-center text-uppercase" *ngIf= "smeDaIzmeni" [routerLink]="['../../services/edit/', service.Id]">Edit Service</a>
              <br>
              <a class="genric-btn danger btn-block text-center text-uppercase" *ngIf= "smeDaIzmeni"  (click) = 'delete()' >Delete Service</a>
              
          </div>
    </div>
  </section>
  </div>
