<app-navbar [title] = "'Services'"></app-navbar>
			<section class="reviews-area section-gap" id="review">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-40 header-text text-center">
							<h1>Services</h1>
							<p class="mb-10 text-center">
								Choose your service and grab your vehicle in no time.
							</p>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<app-service-unit></app-service-unit>
						</div>
						<div class="col-lg-4 col-md-6">
							<app-service-unit></app-service-unit>
						</div>
						<div class="col-lg-4 col-md-6">
							<app-service-unit></app-service-unit>
						</div>							
						<div class="col-lg-4 col-md-6">
							<app-service-unit></app-service-unit>
						</div>
						<div class="col-lg-4 col-md-6">
							<app-service-unit></app-service-unit>
						</div>
						<div class="col-lg-4 col-md-6">
							<app-service-unit></app-service-unit>
						</div>
						<br><br>					
					</div>
					<div class="row d-flex justify-content-center">
						<a class="text-uppercase primary-btn" [routerLink]="['/services/new']">New Service</a>
					</div>
				</div>	
			</section>
			<!-- End reviews Area -->
