<app-header #header></app-header>
<app-navbar  [title] = "'Reservation'"></app-navbar>
<section class="model-area section-gap" id="new_car">
	<div class="container" style="width:30em">
		<h4 class="row d-flex pb-30 justify-content-center" style="color:black">Book car_name from service_name</h4>
							<form class="form" role="form" autocomplete="off" novalidate>
							    <div class="form-group">
							       	<div class="default-select" id="default-select">
										<select style="width:10em" name="branchNameSel" [(ngModel)] ="branchfrom" (change)='changeSelectionPickup()' >
											<option *ngFor = "let branch of branches" [value]="branch.Name" >{{branch.Name}}</option>
										</select>
									</div>
									<input id="datetime" name="pickupT" type="datetime-local" placeholder="Pickup date and time" [(ngModel)]="reservation.StartDate" required>
							    </div>
							    <br><hr><br>
								<div class="form-group">
							       	<div class="default-select" id="default-select">
										<select style="width:10em" name="branchName" [(ngModel)] ="branchto" (change)='changeSelectionRelease()' >
											<option *ngFor = "let branch of branches" [value]="branch.Name" >{{branch.Name}}</option>
										</select>
									</div>
									<input id="datetime" name="releaseT" type="datetime-local" placeholder="Release date and time" [(ngModel)]="reservation.EndDate" required>
							    </div>
								<br><hr><br>							    
							    <div class="from-group">
										<br>
										<input class="form-control txt-field" type="text" name="pickup" placeholder="pickup address" disabled [(ngModel)]="addressPickup">
										<br>
										<input class="form-control txt-field" type="text" name="release" placeholder="release address" disabled [(ngModel)]="addressRelease">
										<br>
							    	<input class="form-control txt-field" type="number" name="priceOverall" placeholder="price overral" disabled [(ngModel)]="price">
									<br>
							    </div>
								<div class="form-group row">
									<div class="col-md-12">
											<a class="text-uppercase primary-btn btn-block text-center text-uppercase" (click) = 'checkRes()'>Check availability</a>
											<br>
										<a class="text-uppercase primary-btn btn-block text-center text-uppercase" (click) = 'submitRes()'>Submit</a>
										<br>
										<p style="color:red">{{errorText}}</p>
									</div>
								</div>
							</form>
						</div>
</section>
