<div class="row align-items-center single-model item" style="padding-top:5em">
	<div class="col-lg-6 model-left">
		<div class="title justify-content-between d-flex">
			<h4 class="mt-20">{{car.Mark}} {{car.Model}}</h4>
			<h2>${{car.Price}}<span>/day</span></h2>
		</div>
		<p>
			{{car.Description}}
		</p>
		<p>
			Manufacturer         : {{car.Mark}} <br>
			Year            : {{car.Year}} <br>
		</p>
		<p *ngIf = "car.Available"><i>Available</i></p> 
		<p *ngIf = "!car.Available"><i>Not Available</i></p>
		<a class="text-uppercase primary-btn" [routerLink]="['/reservation', car.Id]"  *ngIf = "client && car.Available">Book This Vehicle Now</a>
		<a class="text-uppercase primary-btn" [routerLink]="['/cars/edit', car.Id]" *ngIf = "manager && car.Available">Edit Vehicle</a>
		<a class="text-uppercase primary-btn" (click)='deleteVehicle()' *ngIf = "manager && car.Available">Delete Vehicle</a>
		<div *ngIf = "manager">
			<input type="checkbox"  [(ngModel)]="car.Available" name="{{idui}}" (change)="checkedChange(car.Id)">
		</div>
			
	</div>
	<div class="col-lg-6 model-right">
		<img class="img-fluid"   *ngIf="car.Pics.length > 0" [src]="car.Pics[0].Path" alt="">
	</div>
</div>
