<div class="row align-items-center single-model item" style="padding-top:5em">
	<div class="col-lg-6 model-left">
		<div class="title justify-content-between d-flex">
			<h4 class="mt-20">Audi 3000 msi</h4>
			<h2>$149<span>/day</span></h2>
		</div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
		<p>
			Capacity         : 04 Person <br>
			Doors            : 04 <br>
			Air Condition    : Dual Zone <br>
			Transmission     : Automatic
		</p>
		<a class="text-uppercase primary-btn" [routerLink]="['/reservation']" *ngIf = "client">Book This Vehicle Now</a>
		<a class="text-uppercase info-btn" [routerLink]="['/editVehicle']" *ngIf = "manager">Edit Vehicle</a>
		<a class="text-uppercase danger-btn" (click)='deleteVehicle()' *ngIf = "manager">Delete Vehicle</a>
	</div>
	<div class="col-lg-6 model-right">
		<img class="img-fluid" src="assets/img/car.jpg" alt="">
	</div>
</div>
