<app-header #header></app-header>
<app-navbar [title] = "'Edit car'"></app-navbar>
<section class="model-area section-gap" id="new_car">
	<div class="container">
		
		<div class="row align-items-center single-model item">
			<div class="col-lg-6 model-left">
				<form class="form" role="form" autocomplete="off" novalidate>					    
					<div class="from-group">
						<input class="form-control txt-field" type="text" name="manufacturer" placeholder="Manufacturer" [(ngModel)]="car.Mark" required>
						<br>
						<input class="form-control txt-field" type="text" name="model" placeholder="Model" [(ngModel)]="car.Model" required>
						<br>
						<input class="form-control txt-field" type="number" name="year" placeholder="Year" [(ngModel)]="car.Year" required>
						<br>
						<form class="form" role="form" autocomplete="off">		
							<div class="form-group">
								<div>
									<p style="color:black">Types:</p>
									<select size="3" style="width:10em" name="typeNameSel" [(ngModel)] ="typeNameSelected">
										<option *ngFor = "let type of types" [value]="type.Name">{{type.Name}}</option>
									</select>
								</div>
							</div>
						</form>
						<br>
						<input class="form-control txt-field" type="number" name="price" placeholder="Price per hour" [(ngModel)]="car.Price" required> 
						<br>
						<div class="mt-10">
							<textarea class="single-textarea" name="descr" placeholder="Description" [(ngModel)]="car.Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'" style="border:solid; border-color:gray; border-width:1px" required></textarea>
						</div>						
					</div>
					<div class="form-group row">
						<div class="col-md-12">
							<br>
							<a class="text-uppercase primary-btn btn-block text-center" (click)="newCar()">Submit</a>
							<br>
							<p style="color:red">{{errorText}}</p>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-6 model-right">
				<div class="form-group row">
					<div class="col-md-6 wrap-left">
						<br>
						<p style="color:black">Logo</p>
					</div>
					<div class="col-md-6 wrap-right">
						<br>
						<input 
						type="file" (change)="onFileChanged($event)" 
						#fileInput>
					</div>
				</div>
				<img class="img-fluid" src="assets/img/car.jpg" alt="">
			</div>
		</div>		
	</div>	
</section>
