<app-header (messageEvent)="receiveRefresh($event)"></app-header>
<app-navbar [title] = "'Account'"></app-navbar>
<section class="model-area section-gap" id="cars">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4 header-text">
				<br>
				<h4 class=" pb-30" style="color:black">Informations about your account:</h4>
			</div>
		</div>
		<div class="row justify-content-center">

			<div class="col-lg-6 model-left">
				<form class="form" role="form" autocomplete="off">					    
					<div class="from-group">
						<input class="form-control txt-field" type="text" name="username" placeholder="Your username" disabled [(ngModel)]="regUser.username">
						<br>
						<input class="form-control txt-field" type="password" name="pass" placeholder="Your password" [(ngModel)]="regUser.password">  
						<br>
						<input class="form-control txt-field" type="password" name="pass" placeholder="Repeat password" [(ngModel)]="regUser.confirmPassword">                     
					</div>
					<br>
					<div class="form-group row">
						<div class="col-md-12">
							<a (click) = 'changeLogin()' class="genric-btn primary text-center btn-block">SUBMIT</a>
							<br>
							<p style="color:red">{{errorTextLogin}}</p>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-6 model-right">
				<form class="form" role="form" autocomplete="off">					    
					<div class="from-group">
						<input class="form-control txt-field" type="text" name="name" placeholder="Your name" [(ngModel)]="regUser.name">
						<br>
						<input class="form-control txt-field" type="text" name="surname" placeholder="Your surname" [(ngModel)]="regUser.surname">
						<br>
						<input class="form-control txt-field" type="email" name="email" placeholder="Email address" [(ngModel)]="regUser.email">
						<br>
						<input class="form-control txt-field" type="tel" name="phone" placeholder="Phone number" [(ngModel)]="regUser.contact">
						<br>
						<input class="form-control txt-field" type="text" name="date" placeholder="Birth date" type="text" [(ngModel)]="regUser.birth">                        
					</div>
					<div class="form-group row">
						<div class="col-md-6 wrap-left">
							<br>
							<p style="color:black">Picture of your licence</p>
						</div>
						<div class="col-md-6 wrap-right">
							<br>
							<input 
							type="file" (change)="onFileChanged($event)" 
							#fileInput>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-12">
							<a (click) = 'changeReg()' class="genric-btn primary text-center btn-block">SUBMIT</a>
							<br>
							<p style="color:red">{{errorTextReg}}</p>
						</div>
					</div>
				</form>
			</div>
		</div>			
	</div>	
</section>

<section class="model-area section-gap" id="cars">
	<div class="container">
		<div class="row justify-content-center">
				<div class="progress-table-wrap">
						<div class="progress-table">
							<div class="table-head">
								<div class="visit">Car</div>
								<div class="visit">Branch In</div>
								<div class="visit">Branch Out</div>
								<div class="visit">From</div>
								<div class="visit">To</div>
								<div class="visit">Prive overall</div>
								<div class="visit">Action</div>
							</div>
							<div class="table-row" *ngFor = "let res of reservations">
									<div class="visit">{{res.VehicleId}}</div>
									<div class="visit">{{res.BranchReservations[0]}}</div>
									<div class="visit">{{res.BranchReservations[1]}}</div>
									<div class="visit">{{res.StartDate}}</div>
									<div class="visit">{{res.EndDate}}</div>
									<div class="visit">{{res.TotalPrice}}</div>
									<div class="visit" *ngIf = "res.Expired">Time Expired</div>
									<div class="visit" *ngIf = "!res.Expired">
										<a class="genric-btn primary" (click) = 'editReservation(res.Id)'>Edit</a>
										<a class="genric-btn danger" (click) = 'deleteReservation(res.Id)'>Delete</a>
									</div>
								</div>
						</div>
					</div>
		</div>
	</div>
</section>
